@import url('https://fonts.googleapis.com/css2?family=alkatra:wght@200&display=swap');

:root
{
    --bg-color:rgba(204, 204, 204, 1);
    --dark-bg-color:#131313;
    --orange-text-color:rgba(250, 129, 76, 1);
    --text-main-color:#ffffff;
    --secondary-text-color:rgb(103, 102, 102);
    --header-transparent-color: rgba(204, 204, 204, .5);
}
*
{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}
body
{
    min-height: 100vh;
}
.header
{
    align-items: center;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: .3rem 8%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.logo
{
    cursor: default;
    display: flex;
    font-size: 1.5rem;
}
.logo span
{
    align-items: center;
    color: var(--orange-text-color);
    display: flex;
}
.navbar
{
    margin-left: auto;
}
.navbar a
{
    color: var(--secondary-text-color);
    font-size: 1rem;
    margin-left: 3rem;
    transition: .3s;
}
.navbar .switch-div i
{
    border-radius: 50%;
    transition: .5s;
}
.navbar .switch-div i:hover
{
    color: var(--dark-bg-color);
    transform: scale(1.1);
}
.navbar a:hover, .navbar a.active
{
    color: var(--main-color);
    /* border-bottom: var(--orange-text-color); */
}
#menu-icon
{
    color: var(--text-color);
    display: none;
    font-size: 3.6rem;
}
.home-sec
{
    background: var(--bg-color);
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.home-sec .home-image
{
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 60%;
    width: 65%;
}
.home-image img
{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 10%;
    z-index: 5;
}
.home-sec h1
{
    color: var(--text-main-color);
    display: flex;
    flex-wrap: wrap;
    font-size: 7rem;
    font-weight: 700;
    left: 45%;
    line-height: 1.1;
    overflow: hidden;
    position: absolute;
    top: 27%;
    /* transform: translateX(70%) translateY(10%); */
}
.home-sec h1 span
{
    overflow: hidden;
}
.home-sec h1 .title-body
{
    color: var(--orange-text-color);
}
.home-sec p
{
    color: var(--secondary-text-color);
    font-weight: 700;
    left: 57.5%;
    position: absolute;
    top: 63%;
    width: 500px;
    /* transform: translateX(75%) translateY(0%); */
}
.about-us 
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.about-us .about-image
{
    width: 70%;
    height: 630px;
    position: relative;
    overflow: hidden;
}
.about-image img
{
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.about-us .about-text
{
    align-items: center;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
}
.about-text h2
{
    color: var(--orange-text-color);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.about-text h2 span
{
    color: var(--secondary-text-color);
}
.about-text p
{
    color: var(--secondary-text-color);
    line-height: 1.5rem;
    width: 400px;
}
.trainers-sec
{
    align-items: center;
    background: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* margin-bottom: 100px; */
}
.trainers-sec .trainers-text
{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}
.trainers-text h2, p
{
    color: var(--text-main-color);
}
.trainers-text h2
{
    font-weight: 800;
    font-size: 2.5rem;
}
.trainers-text h2 span
{
    color: var(--orange-text-color);
}
.trainers-sec .trainers-photo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.trainers-photo .t-photo
{
    width: 25%;
    overflow: hidden;
    position: relative;
}
.t-photo img
{
    filter: grayscale(100%);
    transition: filter .25s;
}
.t-photo img:hover
{
    filter: grayscale(0%);
}
.t-photo img
{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
.prices-sec
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 50px;
}
.prices-sec h2
{
    color: var(--secondary-text-color);
    font-size: 2.5rem;
    font-weight: 700;
}
.prices-sec .prices-wrapper
{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.prices-wrapper .price-detail
{
    align-items: center;
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 80px;
    transition: .3s ease;
    width: calc(100% / 3);
}
.prices-wrapper .price-detail:hover
{
    color: var(--orange-text-color);
    transform: scale(1.1);
}
.price-detail .p-det
{
    border: 3px solid;
    padding: 60px 50px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
}
.p-det h4
{
    border: 1px solid;
    padding: 40px;
    border-radius: 50%;
    font-size: 2rem;
}
.p-det h3
{
    font-size: 2rem;
    font-family: alkatra;
}
.p-det .packet-detail
{
    margin-top: 60px;
    margin-bottom: 60px;
}
.prices-wrapper .price-detail p
{
    color: var(--secondary-text-color);
}
.gallery-sec
{
    align-items: center;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 50px; */
    padding: 5% 0%;
    position: relative;
}
.gallery-sec h2
{
    color: var(--text-main-color);
    font-size: 2.5rem;
}
.gallery-sec h2 span
{
    color: var(--orange-text-color);
}
.wrapper
{
    display: flex;
    padding: 3% 5%;
    position: relative;
    width: 100%;
}
.wrapper i
{
    cursor: pointer;
    color: var(--secondary-text-color);
    font-size: 5rem;
    line-height: 100%;
    position: absolute;
    text-align: center;
    transform: translateY(-50%);
    transition: 0.5s ease;
    top: 50%;
}
.wrapper i:hover
{
    color: var(--orange-text-color);
}
.wrapper i:first-child
{
    display: none;
    left: 25px;
}
.wrapper i:last-child
{
    right: 25px;
}
.wrapper .carousel
{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}
.carousel.dragging
{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img
{
    pointer-events: none;
}
.carousel img
{
    height: 350px;
    user-select: none;
    margin-left: 14px;
    object-fit: cover;
    width: calc(100% / 4);
}
.carousel img:first-child
{
    margin-left: 0px;
}
.contact-us
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}
.contact-us h2
{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    color: var(--orange-text-color);
}
.contact-us h2 span
{
    color: var(--secondary-text-color);
}
.contact-us .contact-area
{
    display: flex;
    width: 100%;
}
.contact-us .contact-part
{
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    width: 50%;
}
.contact-part form
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact-part form .input-box
{
    display: flex;
    flex-direction: column;
}
.input-box input
{
    border: 1px solid;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
}
.input-box label
{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--orange-text-color);
}
form textarea
{
    padding: 5px;
}
form .btn
{
    margin-top: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid var(--orange-text-color);
    background-color: var(--text-main-color);
    color: var(--orange-text-color);
    transition: .5s ease-in-out;
}
form .btn:hover
{
    background: var(--orange-text-color);
    color: var(--text-main-color);
}
.contact-us .info-part
{
    display: flex;
    flex-direction: column;
    background: var(--orange-text-color);
    padding: 40px;
    width: 50%;
}
.info-part h3
{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.info-part .con
{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.info-part .con .icon
{
    width: 40px;
    height: 40px;
    margin-right: 30px;
}
.info-part .info-footer
{
    margin-top: auto;
    display: flex;
    margin-left: auto;
    align-items: center;
}
.info-part .info-footer p
{
    margin-right: 20px;
    font-size: 1.2rem;
}
.info-part .info-footer .icon
{
    height: 40px;
    width: 40px;
    fill: var(--text-main-color);
}




@media screen and (max-width: 900px) 
{
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) 
{
    .carousel img{
        width: 100%;
    }
}
